.App {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}
.timer_container {
  padding: 30px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: aquamarine;
  font-size: 24px;
  border-radius: 10px;
  border: 10px solid aquamarine;
  text-align: center;
  text-shadow: 1px 1px 7px;
  box-shadow: 1px 1px 7px;
}

p {
  margin: 0;
}

.clock {
  display: flex;
  justify-content: space-around;
}

.countdown {
  font-size: 74px;
}

@media (max-width: 900px) {
  .timer_container {
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
  }

  .clock {
    flex-direction: column;
  }
  .clock div {
    padding-bottom: 30px;
  }
  .clock div:last-child {
    padding-bottom: 0;
  }

  .timer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
